html, body {
	height: 100%;
}

body {
	margin: 0 auto;
	background-color: black;
}

button {
	color: green;
	background-color: black;
	border: 2px solid green;
	display: block;
}

a {
    outline: none; 
    text-decoration: none; 
}


.button_box {
	position: fixed;
	top: 0;
}

.main {
	height: 4000px;
	widows: 980px;
	margin: 0 calc((100% - 980px) / 2);
/* 		border: 1px solid red; */
}

.Level1 {
	height: 860px;
	width: 980px;

}

.Level1fonblock1 {
	height: 250px;
	width: 980px;
}

.Level1moveblock1 {
	height: 250px;
	width: 980px;
}

.Line1 {
	height: 350px;
	width: 350px;
	margin: 70px 0 0 350px;
	border-left: 2px solid green;
	transform: rotateZ(45deg);
}

.Level1fonblock2 {
	height: 550px;
	width: 980px;
	position: absolute;
	top: 150px;
}

.Level1moveblock2 {
	height: 550px;
	width: 980px;
}

.bigbox {
	height: 260px;
	width: 260px;
	margin: 60px 0 0 210px;
	border: 3px solid green;
	transform: rotateZ(45deg);
	display: inline-block;
}

.numberbox {
	height: 180px;
	width: 180px;
	margin: 40px auto;
	border: 1px solid green;
	transform: rotateZ(-45deg);
}

.numberbox11 {
	height: 12px;
	width: 12px;
	padding: 2px;
	background-color: green;
	display: inline-block;
}

.smallbox {
	height: 106px;
	width: 106px;
	margin: 73px 0 0 287px;
	border: 3px solid green;
	transform: rotateZ(45deg);
	color: green;
	background-color: black;
}

.smalltextbox {
	height: 106px;
	width: 106px;
	margin: 15px;
	transform: rotateZ(-45deg);
	color: green;
	font-size: 28px;
	line-height: 35px;
	text-align: center;
	font-family: Courier;
	font-weight: bold;
}

.Level1fonblock3 {
	height: 550px;
	width: 320px;
	margin-left: 650px;
	position: absolute;
	top: 150px;
}

.Level1moveblock3 {
	height: 550px;
	width: 320px;
}

.arrow3 {
	height: 260px;
	width: 260px;
	margin: 60px 0 0 0;
	border-top: 3px solid green;
	border-right: 3px solid green;
	transform: rotateZ(45deg);
	display: inline-block;
}

.bigblocktext {
	height: 360px;
	width: 400px;
	margin: -160px 0 0 550px;
	display: inline-block;
	color: green;
	backface-visibility: hidden;
	font-family: Courier;
	font-weight: bold;
	font-size: 80px;
	line-height: 360px;
}

.Level1fonblock4 {
	height: 580px;
	width: 980px;
	position: absolute;
	top: 280px;
	z-index: -1;
}

.Level1moveblock4 {
	height: 580px;
	width: 980px;
}

.Line2 {
	height: 680px;
	width: 0;
	margin: 0 0 0 350px;
	border-left: 2px solid green;
	transform: rotateZ(-45deg);
}
